*.out
/out/
/docs/auxil/
/.idea/
/docs/einsendeaufgaben/einsendeaufgaben 1/Einsendeaufgaben ES 1.ind
/auxil/
/docs/einsendeaufgaben/einsendeaufgaben 2/Einsendeaufgaben ES 2.ind
/docs/einsendeaufgaben/einsendeaufgaben 3/Einsendeaufgaben ES 3.ind
*.mod
/docs/einsendeaufgaben/einsendeaufgaben 4/Einsendeaufgaben ES 4.ind
/docs/einsendeaufgaben/einsendeaufgaben 5/Einsendeaufgaben ES 5.ind
