*.out
/out/
/docs/auxil/
/.idea/
/docs/einsendeaufgaben/einsendeaufgaben 1/Einsendeaufgaben ES 1.ind
/auxil/
/docs/einsendeaufgaben/einsendeaufgaben 2/Einsendeaufgaben ES 2.ind
/docs/einsendeaufgaben/einsendeaufgaben 3/Einsendeaufgaben ES 3.ind
*.sh
*.mod